.cart-icon-container {
    position: relative;
}

.cart-icon {
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 30%;
    background-color: #fff;
    padding: 5px;
}